@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
.swiper-pagination {
  margin-top: 24px;
  position: relative !important;
}
